<div class="container mt-5 text-center">
  <h1>Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>
  <%= month_calendar(events: @meetings) do |date, meetings| %>
    <div class="day">
      <%= date %>
    </div>
    <% meetings.each do |meeting| %>
      <div class="card mt-2">
        <div class="card-header">
          <h5 class="card-title">
            <%= link_to meeting.name, meeting %>
          </h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            <%= meeting.description %>
          </p>
        </div>
        <div class="card-footer">
          <p class="card-text">
            From: <%= meeting.start_time.strftime('%A, %B %d, %Y at %I:%M %p') %>
          </p>
          <p class="card-text">
            To: <%= meeting.end_time.strftime('%A, %B %d, %Y at %I:%M %p') %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>