.calendar-heading {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
}

.calendar-title {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.next {
  text-decoration: none;
  color: white;
  float: right;
  padding-top: 4px;
}

.previous {
  text-decoration: none;
  color: white;
  float: left;
  padding-top: 4px;
}

.calendar-weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.days {
  background: #eee;
}